
        <link rel="stylesheet" type="text/css" href="./css/home.css">
        <div id = "main_content">
        <h1> Organise Like a PRO with VALISE !!</h1>
        <form action="/list" method="GET">
            <button type="submit">GO TO TASKS </button>
        </form>
         </div>