<html>
    <title>
        <%= title %>
        <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
    </title>
    <body>
        Welcome to Your Own To-do-list
        <form action="/list" method="GET">
            <button type="submit">GO TO TASKS </button>
        </form>
    </body>
</html>