<html>
    <head>
        <script src="https://use.fontawesome.com/d34da651b6.js"></script>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/home">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <h1>TO-DO-LIST</h1>
        <ul>
        <% for(let i of task_list) { %>
            <li>
                <p> <%= i.name %></p>
                <p><%= i.Due_date %></p>
            </li>
            <div style="height: 20px; width: 20px; background-color: red;">
            <a href="/delete-item/?id=<%= i._id %>" style="height: inherit; width: inherit;" >
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </div>
            
        <% } %> 
    </ul>
    <form action="/create-item" method="POST">
        <input type="text" name="name" placeholder="Task Name" required>
        <input type="date" name="Due_date" placeholder="Due Date of Task" required>
        <button type="submit">Add Task </button>

    </form>
    </body>
</html>